@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*, html{
    font-family: Poppins;
}


body{
    background-image: url(img/home-bg.jpg);
}


/* Carousel */
.container-carousel{
    margin: 100px auto;
}
.carousel {
    width:70%;
    height:auto;  
}
.carousel-img{
    border-radius: 15px;
}
.carousel-1-p{
    position:absolute;
    transform: translate(150px, -600px);
    font-size: 5rem;
}
.carousel-2-p{
    position:absolute;
    transform: translate(900px, -550px);
    font-size: 4rem;
}
.carousel-3-p{
    position:absolute;
    transform: translate(900px, -150px);
    font-size: 5rem;
}

/* Products */
#products{
    text-align: center;
    margin-top: 150px;
}
.product-item{
    display: flex;
    justify-content: space-between;
    margin: 50px 250px;
}
.card-img{
    height: 250px;
}

/* Collection */
.collection-row{
    display: flex;
    justify-content: space-between;
    margin: 50px 250px;
}

/* About Us */
#aboutus{
    text-align: center;
    width: 60%;
    margin: 150px auto 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

.aboutus-p{
    text-align: justify;
    margin-top: 50px;
}
/* Find Us */
#findus{
    width: 50%;
    margin: 100px auto;
    text-align: center;
}
.findus-location{
    
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.findus-p{
    width: 400px;
    text-align: justify;
}
.map-img{
    width: 400px;
}

/* Footer */
#footer{
    height: 150px;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}